.li {
    color: #333;
    background-color: rgba(255, 255, 255, .5);
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color .2s ease-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    padding: 10px 20px;
    font-size: 20px;
    flex-basis: 50%;
}

.btn {
    padding: 10px 30px;
    font-size: 20px;
    flex-basis: 25%;
}
