
@import "header.css";
@import "banner.css";
@import "welcome.css";
@import "about.css";
@import "work.css";
@import "card.css";
@import "futer.css";

.title{
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    color: #333;
    text-align: center;
    font-weight: 700;
}
