.fifth-wrapper {
    height: 670px;
}

.six-wrapper {
    height: 640px;
    background-image: url(../img/fon.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 1110px;
    margin: auto;
}
.picture{
    width: 255px;
    height: 260px;
}
.content-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    min-height: 350px;
}
.content-item{
    flex-basis: 31.5%;
    border-bottom: 1px solid #ccc;

}
.section{
    padding-bottom: 100px;
    font-size: 0;
}
.head-text{
    color: #8e8e8e;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center;
}
.text{
    color: #979797;
    font-size: 20px;
    margin-bottom: 40px;
    text-align: justify;
    line-height: 26px;
}
.title{
    margin-bottom: 90px;
}
.title:before{
    display: block;
    content: '';
    width: 2px;
    height: 50px;
    background-color: #333;
    margin: auto;
    margin-bottom: 30px;
}
.content-item:hover > .head-text{
    color: #333;
}
.content-item:hover{
    border-bottom: #333 1px solid;
}
.card{
    width: 255px;
    height: 340px;
    background-color: #fff;
    position: relative;
}
.name{
    font-size: 18px;
    text-transform: uppercase;
}
.bio{
    color: #979797;
    font-size: 20px;
    line-height: 26px;
}
.box{
    padding: 15px 0 20px 30px;
    background-color: #fff;
}
.second-overlay{
    display: none;
    position: absolute;
    width: 255px;
    height: 260px;
    top: 0;
    left: 0;
}
.icon{
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40px;
    height: 160px;
    position: absolute;
    background-color: #fff;
    font-size: 0;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
.facebook{
    width: 14px;
    height: 25px;
}
.bird{
    width: 23px;
    height: 19px;
}
.foto, .ball{
    width: 23px;
    height: 23px;
}
.bird, .ball, .foto, .facebook{
    display: inline-block;
    margin: auto;
}
.card:hover > .second-overlay{
    display: block;
}
.icon:hover{;
}


