*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
.main{
    text-align: center;
}
.item{
    display: inline-block;
    background-color: #354a5f;
    padding: 10px 30px;
    font-weight: 300;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    float: left;
    position: relative;
    text-align: center;
}

.menu{
    display: block;
}

