.footer{
    display: flex;
    justify-content: space-between;
    line-height: 60px;
    border-top: 1px solid #808080;
}
.text-footer{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.span{
    color: #f48b8b;
}
.submit{
    padding: 12px;
    background-color: #95e1d3;
    width: 150px;
    text-align: center;
    border: none;
    outline: none;
}
.text-input{
    width: 230px;
    padding: 10px;
}
.login{
    font-size: 0;
}