* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: gray;
    font-family: 'Playfair Display', serif;
}
body{
    background-image: linear-gradient(to bottom right, red, blue, green );
}
.main {
    font-size: 0;
    background-image:
}

.header {
    text-transform: uppercase;
    margin-bottom: 100px;
}

.li1, .li2, .li3, .li4 {
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-right: 100px;
}
ul{
    text-align: center;
    text-decoration: none;
}
a {
    text-decoration: none;
}

a:hover {
    color: red;
}

.li4 {
    margin-right: 0;
}
.span{
    font-size: 16px;
    text-transform: uppercase;
}

.img {
    width: 420px;
    height: 280px;
    margin-bottom: 30px;
}
 .box{
    width: 420px;
    display: inline-block;
    text-align: left;
     margin-bottom: 60px;
}
 .box5, .box6{
     margin-bottom: 0;
 }

.box1, .box3, .box5 {
    margin-right: 60px;
}

.article {
    width: 900px;
    margin: auto;
    background-color: white;
    padding: 70px 0;
}

.h2 {
    margin: 30px 0 40px 0;
    font-size: 30px;
}

.p {
    font-size: 16px;
}

.button {
    padding: 15px 35px;
    margin: auto;
    display: block;
    font-size: 20px;
    background-color: transparent;
    margin-top: 55px;
}