
.header {
    display: flex;
    line-height: 90px;
    justify-content: space-between;
}

.sub-item {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #95e1d3;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #95e1d3;
    text-decoration: none;
}

.item {
    display: inline-block;
    margin-right: 55px;
}

.item:last-child {
    margin-right: 0;
}

.sub-item::after {
    content: '';
    display: block;
    width: 60px;
    background-color: #f38181;
    opacity: 0;
    height: 3px;
    margin: auto;
    margin-top: -30px;
}

.sub-item:hover:after {
    transition: 1s;
    content: '';
    opacity: 1;
}

.sub-item:hover {
    color: #f38181;
    cursor: pointer;
    display: block;
}