/*.box {*/
/*width: 24px;*/
/*height: 24px;*/
/*background: url('../img/css_sprites.png') -54px -10px;;*/
/*display: inline-block;*/
/*}*/

/*.box1 {*/
/*width: 24px;*/
/*height: 24px;*/
/*background: url('../img/css_sprites.png') -142px -10px;*/
/*display: inline-block;*/
/*}*/

/*.box1:hover {*/
/*background: url('../img/css_sprites.png') -98px -10px;*/
/*}*/

/*.box:hover {*/
/*background: url('../img/css_sprites.png') -10px -10px;*/
/*transition: 3s;*/
/*}*/
/*.icon {*/
/*width: 5rem;*/
/*height: 8rem;*/
/*cursor: pointer;*/
/*fill: #1EA896;*/
/*}*/

/*.icon:hover {*/
/*fill: #FF715B;*/
/*}*/

.box {
    width: 480px;
    height: 320px;
    /*background: url("http://placeimg.com/480/320/any") no-repeat;*/
    margin: auto;
}

/*@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {*/
    /*.box {*/
        /*background: url('https://placeimg.com/960/640/animals') no-repeat;*/
    /*}*/
/*}*/