.card{
    margin-bottom: 95px;
    font-size: 0;
}
.cards{
    display: block;
    width: 255px;
    margin-right: 30px;
    float: left;
    margin-bottom: 30px;
}
.cards1{
    margin-right: 0;
}
.name{
    padding: 10px;
    float: left;
    width: 75%;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    background-color: #383838;
}
.price{
    width: 25%;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    float: right;
    background-color: #8c8c8c;
    padding: 10px 0;
    text-align: center;
}
.cards:hover .price {
    background-color: #1abc9c;
}
.cards:hover .name {
    background-color: #1abc9c;
}
.img1{
    width: 255px;
    height: 280px;
}