*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    counter-reset: liCount liarticle;
}

.article {
    counter-increment: liCount;
}

.article::before {
    content: counter(liCount);
    width: 30px;
    height: 30px;
    background-color: blue;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    color: white;
    line-height: 30px;
}

.list-item{
    counter-increment: liarticle;
}
.list-item::before{
    content: counter(liarticle, upper-roman);
    width: 30px;
    height: 30px;
    background-color: blue;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    color: white;
    line-height: 30px;
}
ul{
    list-style: none;
}

.wrapper{
    background-image: url(../image/P2.jpg);
    background-color: #0000ff;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 100px 0;
}
.content{
    background-color: #fff;
    width: 480px;
    margin: auto;
    padding: 60px 37px 44px;
    font-family: Arial,sans-serif ;
}
.title {
    display: inline-block;
    font-family: Pathway Gothic One, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    color: #263555;
    margin-bottom: 37px;;
}
.P1{
    display: block;
    margin: 0 auto 27px;
}
.sub-title{
    color: #263555;
    font-size: 14px;
    margin-bottom: 22px;
    display: inline-block;
}
.text{
    color: #4e5050;
    font-size: 12px;
}
.article{
    margin-bottom: 51px;
}
.list-item{
    margin-bottom: 25px;
}
.list-item:last-child{
    margin-bottom: 0;
}
.article-border{
    border-bottom: 1px solid #000;
    padding-bottom: 52px;
}

.text1{
    margin-bottom: 37px;
}
.offer-item{
    color: #263555;
    font-size: 14px;
    margin-bottom: 18px;
}
.offer-item:last-child{
    margin: 0;
}
.offer-list{
    display: inline-block;
    vertical-align: top;
}
.offer-list:last-child{
    margin-left: 50px;
}